{{- /* Keep short essays uncluttered; toc=true/false overrides the automatic
       threshold. Fragments use the same IDs as the Markdown heading hook. */ -}}
{{- $sections := slice -}}
{{- range .Fragments.HeadingsMap -}}
  {{- if eq .Level 2 -}}{{- $sections = $sections | append . -}}{{- end -}}
{{- end -}}
{{- $show := and (ge .WordCount 700) (ge (len $sections) 3) -}}
{{- if isset .Params "toc" -}}{{- $show = .Params.toc -}}{{- end -}}
{{- if and $show (gt (len .Fragments.Identifiers) 0) -}}
  {{- $toc := .TableOfContents -}}
  {{- if strings.Contains $toc "<a " -}}
  <details class="table-of-contents">
    <summary>{{ i18n "table_of_contents" }}</summary>
    {{ $toc }}
  </details>
  {{- end -}}
{{- end -}}
